# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
.venv/
venv/
env/
ENV/
.env
*.env


# OS
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test / coverage
.pytest_cache/
htmlcov/
.coverage
coverage.xml
